<img src="images/trailrunners.jpg" alt="homepage"><br>

<h5>Please log in</h5>

<form action="/login" method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username"><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password"><br>
    <input type="submit" value="Log In"><br>
</form>

<a href="/signup">Register a New Account</a>

<%= login_error_messages(@errors) %>