html {
    padding: 20px;
}
.danger {
    color: red;
}

.run {
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px
}

.container {
    background-color: lightgrey;
}

img {
    width: 90%;
    height: auto;
  }
