<% if !!@error_message %>
    <p class="danger"><%= @error_message %></p>
<% end %>

<form action='/runs' method="post">
    <label for="distance">Distance (miles):</label>
    <input type="text" name="distance" id="distance"><br>
    <label for="time">Durantion (minutes):</label>
    <input type="text" name="time" id="time"><br>
    <label for="mood">Mood:</label><br>
    <textarea name="mood" id="mood" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Add">
</form>